*{
    padding: 0;
    margin: 0;
}

/* nav style */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.nav-title{
    font-size: 18px;
}
nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none; 
}
.color{
        color: #4E47FF;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.button-color{
    background-color:#4E47FF;
    font-weight: normal;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
}
.banner-content{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 158px 0;
    font-weight: bold;
    font-size: larger;
}

.nav-banner{
    background-color: rgb(219, 219, 235);
    background-image: url("/Hero-bg.png");
    height: 700px;
}
div p{
    font-weight: 5;
    font-style: normal;
    padding: 15px 0;
}
.img-content{
    background-image: url("/wc-mini.png");
    width: 420px;
    height: 320px;
    border-radius: 35px;
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-around;
    padding-top: 30px ;
}
        /* action-section */
.action-section{
    background-color: #aaa7fb;
    margin: 80px 130px;
    border-radius: 40px;
}
.action-title{
    text-align: center;
    padding: 50px 0 40px 0;
}
.action-decription{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.action-decription p{
    color:#5f5f61;
    font-size:medium;
    padding-bottom:50px;
}
.action-decription h1{
    color: #4E47FF;
    font-size: 80px;
}
/* review-section */
.review-section{
    padding: 40px 20px;
    background-color: #fff;
}
.review-section h2{
    font-size: 32px;
    margin-top: 40px;
    text-align: center;
}
.reviews{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.stars{
    color: orange;
    font-size: 18px;
}
.review-card {
    background: #dad7d7;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.reviewer img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    color: #3e3e3e;
}
.date-p{
    font-size: x-small;
    padding: 0 0 0 50px;
    color: #7a7575;
}